@charset "UTF-8";

body {
  font-size: 15px;
  font-family: 'Noto Serif', serif;
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

header {
  width: 100%;
  display: inline-block;
  background: #000; /* 追加 */
}

header .logo {
  position: absolute;
  padding: 15px 0 0 20px;
  z-index: 2;
}

header .logo img {
  width: 150px; /* 変更 */
  height: auto;
  z-index: 2;
}

header .navbar ul {
  display: flex;
  float: right;
  position: relative;
  margin: 15px 0;
}

header .navbar ul li {
  margin: 10px; /* 変更 */
  padding-right: 20px; /* 追加 */
  border-right: solid 3px #f0bfff; /* 追加 */
}

header .navbar ul li:nth-child(1) {
  border-right: none; /* 追加 */
}

header .navbar ul li:last-child {
  border-right: none; /* 追加 */
}

header .navbar ul li a {
  color: #fff;
  font-weight: 700; /* 追加 */
  font-size: 15px;
}

header .navbar ul li a:hover {
  color: #f0bfff;
}

header .respons {
  visibility: hidden; /* 追加 */
  width: 0; /* 追加 */
  height: 0; /* 追加 */
}

header .drawer {
  visibility: hidden;
}

.section_ttl {
  margin-bottom: 20px;
  font-size: 40px;
}

.section_ttl small {
  border-left: solid 8px #f0bfff;
  padding-right: 10px;
}

.section {
  padding: 150px 0;
  border-top: solid 3px #F0BFFF;
}



footer {
  padding: 50px 0 20px;
  background: #000;
  color: #fff;
}

.footer_logo {
  width: 15%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 40px;
}

.footer_logo img {
  width: 100%;
}

.footer_list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.footer_item {
  padding-right: 28px;
  margin-right: 20px;
  border-right: solid 3px #f0bfff;
  font-size: 18px;
  line-height: 1;
}

.footer_item a {
  color: #fff;
}

.footer_item a:hover {
  color: #f0bfff;
}

.footer_item:last-child {
  padding-right: 0;
  margin-right: 0;
  border-right: none;
}

.footer_sns {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_sns .sns_icon1 {
  margin-right: 25px;
}

.footer_sns .sns_icon1,
.sns_icon2 {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer_sns .sns_icon1:hover,
.sns_icon2:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.footer_txt {
  display: block;
  text-align: center;
  font-size: 15px;
}

.inner {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}